.my-card{
  background: #ECF0F3;
  box-shadow:  5px 5px 10px #c5c5c5,
             -5px -5px 10px #fbfbfb;
  border-radius: 20px;
            
}

.my-child-path{
  background: linear-gradient(red,#ff5200);
  content:"";
  top: -20px;
  right: -14px;
  position: absolute;
  clip-path: circle(50% at 50% 50%);
  width:100px;
  height: 100px;
  transform: rotate(45deg);
}
.my-btn{
  @apply bg-gradient-to-t from-red-600 to-[#ff5200] cursor-pointer hover:to-red-600 hover:from-[#ff5200] 
}
.my-input{
  @apply mt-1 px-3 py-3 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-[#ff5200]  block  rounded-md sm:text-sm w-full
}